cudatoolkit >= 11.3
matplotlib >= 3.5.1
munkres >= 1.1.4
numpy >= 1.21.2
nvidia.dali >= 1.11.1
pandas >= 1.2.3
python >= 3.8.12
pytorch >= 1.10.2
pyyaml >= 6.0
scikit-learn >= 1.0.2
scipy >= 1.7.3
seaborn >= 0.11.2
torch_cluster >= 1.5.9
torch_geometric >= 2.0.3
torch_scatter >= 2.0.9
torch_sparse >= 0.6.12
torch_spline_conv >= 1.2.1
torchvision >= 0.11.3
